/*
Description: Contains the styling for Website Evaluation
Author: Nawjeet Sing KANHYE
ID: 19360010
Email: n.kanhye@student.curtin.edu.au
Tags: Website, Evaluation, Simple, Colour, Critiques
*/

@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

body {
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: linear-gradient( #cccccc, white);
}

footer {
  font-size: 75%;
  text-align: center;
  line-height: normal;
  background-color: #cccccc;
}

h1,
h2,
strong {
  font-weight: 300;
  color: #333;
}

h1 {
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    line-height: 3;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    margin: 0 auto;
    width: 70%;
  }

header {
    line-height: 2.3;
    width: 95%;
}

#introduction {
    width: 90%;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(26, 26, 26);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(107, 107, 107);
}

.nawjeet {
    float: left;
    width: 35%;
}

p {
    margin-top: 1em;
    padding-top: 1em;
    margin: 0 auto;
    width: 70%;
}

#sectionl {
    text-align: left;
    width: 90%;
}

#sectionr {
    text-align: right;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

